<div class="copy">
    <p>&copy; Joshua Ngomeli 2020</p>
    <p>
        <a href="https://www.instagram.com/joshuangomeli/" target="_blank"><i class="instagram icon"></i></a><a href="https://twitter.com/JoshuaNgomeli" target="_blank"><i class="twitter icon"></i></a>
        <a href="https://www.facebook.com/joshua.ngomeli" target="_blank"><i class="facebook icon"></i></a>
    </p>
</div>

</body>

</html>