    i.icon {
        font-size: 2em;
        font-size: 2.0em;
        cursor: pointer;
    }
    
    .container.main {
        margin-top: 7.0em;
    }
    
    #delete {
        display: inline;
    }
    
    .copy {
        text-align: center;
    }
    
    i {
        cursor: pointer;
    }
    
    .instagram {
        color: #e4405f
    }
    
    .instagram:hover {
        color: #e4405f;
        background-color: #fff;
        border-radius: 20px;
    }